
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    color: #fff;
    padding: 20px;
    
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #000080;
    padding: 10px 0;
    top: 0;
    width: 100%;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #555;
}

h1 {
    margin: 0;
}

p {
    line-height: 1.5;
    color: #555555;
    text-align: center;
    margin: 0;
}

.gallery{
    max-width: 800px;
    margin: 20px;
    padding: 0 20px;
}



.hero{
    height: 650px;
    background-image: url("img/teamphoto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-color: #000015; 
}
.hero-description{
    height: 650px;
    background-color: rgba(0, 0, 21, .7);
    display: flex;
}
.hero-text{
    width:70% !important;
    margin: auto !important;
    display: flex;
    flex-wrap: wrap;
    
}


.hero-text p{
    color:white;
    
    
}
.hero-title{
     /* padding-top:80px; */
    font-weight: 800;
    text-transform: uppercase;
    font-size: 80px;
    color:rgb(255, 255, 255);
    
    text-align: center;

}

.container{
    padding: 5rem 2rem;
    height: 650px;
    background-image: url("img/robocuprobo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-color: #000015; 
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.headshot {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.headshot:hover {
    transform: scale(1.05);
}

.description {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}

.name {
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
}

.pricing{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    
}

.pricing .card{
    padding: 3rem 2rem;
    background-color: #27272a;
    display: flex;
    flex-direction: column;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.pricing .card:hover{
    background-color: #323232;
    border-color: #fff;
}

.pricing .card .content{
    flex: 1;
    margin-bottom: 2rem;
}

.pricing .card h4{
    margin-bottom: 1rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
}

.pricing .card h3{
    color: #fff;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
    border-bottom: 2px dashed #fff;
}

.pricing .card p{
    color: #fff;
    margin-bottom: 0.75rem;
}

.pricing .card p i{
    color: #ccc;
    font-size: 1.2rem;
    margin-right: 0.3rem;
}

.pricing .card button{
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
}

.pricing .card button:hover{
    background-color: #1e40af;
    border-color: #1e40af;
}

.sub-header{
    max-width: 600px;
    margin: auto;
    text-align: center;
    color: #fff;
}

section .header{
    margin-bottom: 1rem;
    color: #fff;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
}