body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    background-color: #222282;
    color: #fff;
    padding: 20px;
    
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #000080;
    padding: 10px 0;
    top: 0;
    width: 100%;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #555;
}

h1 {
    margin: 0;
}

p {
    line-height: 1.5;
    color: #555555;
    text-align: left;
    margin: 0;
    padding-left: 0;
}

.content-container{
    max-width: 800px;
    margin: 20px;
    padding: 0 20px;
}

.hero{
    height: 650px;
    background-image: url("img/tristan.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-color: #000015; 

    
}
.hero-description{
    height: 650px;
    background-color: rgba(0, 0, 21, .7);
    display: flex;
}
.hero-text{
    width:70% !important;
    margin: auto !important;
    display: flex;
    flex-wrap: wrap;
    
}


.hero-text p{
    color:white;
    width: 70%;
}
.hero-title{
     /* padding-top:80px; */
    font-weight: 800;
    text-transform: uppercase;
    font-size: 80px;
    color:rgb(255, 255, 255);
    
    text-align: center;

}